<%= render 'console/pages/navbar' %>
<div class="panel panel-primary">
<div class="panel-heading">
  <h3 class="panel-title">网站管理</h3>
</div>
<div class="panel-body">
<%= render "table" %>
</div>
</div>

<!-- modal -->
<div class="modal fade" id="siteModal" tabindex="-1" role="dialog"  >
</div>
<!-- /.modal -->

<script type="text/javascript">

</script>