
<div class="container container-front" style="">
<fieldset>
<legend>覆盖地区</legend>
<div class="alert alert-info">
AWS当前覆盖了全球<strong><%= @regions.length %></strong>个地区.
</div>


<ul class="list-group">
<% @regions.each do |region|%>

 <li class="list-group-item">
    <span class="badge" title="可用区域"><%= region.zones_count %></span>
    <p class=""><%= link_to "#{region.name} #{region.en_name} ","#",:target=>"_blank" %> [<%= region.code %>]</p>
  </li>
  
<%end%>

 
</ul>


</fieldset>
</div>
