<%= render :partial => "navbar_collection"%>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">地区主页</h3>
    </div>
    <div class="panel-body">
      目前AWS已全球覆盖<%= link_to  Region.all.count,list_console_regions_path %>个地区,您个可以根据您的需求选择不同地区的服务.
      <p>
      	<a href="http://aws.amazon.com/" target="_blank">Amazon Web Services™</a>
      </p>
    </div>
  </div>
