<%= render :partial => "navbar_collection"%>
<div class="panel panel-primary">
<div class="panel-heading">
  <h3 class="panel-title">地区列表</h3>
</div>
<div class="panel-body">
<%= render :partial =>"table",:locals=>{:regions => @regions} %>
</div>
</div>