<%= render "navbar" %>
<div class="panel panel-primary">
<div class="panel-heading">
  <h3 class="panel-title">分类主页</h3>
</div>
<div class="panel-body">
 <div class="bs-callout bs-callout-info">
<h4>AWS 服务类型 <%= %></h4>
<p>  AWS提供了2几种不同的服务，可能会让看的眼花缭乱。其实整个AWS 的概率就像堆积木一样，用户拿需要的积木块，
如果这种积木需要的多一点，就多拿一点，叠上去就可以了。如果这块积木不需要了，就拿下来还给AWS..</p>
    </div>
</div>
</div>
