

<div class="container container-front" style="">
<fieldset>
<legend>文章列表</legend>
<div class="alert alert-info">
 Aw7S 总共收录了<strong><%= @pages.total_entries %></strong>篇关于运计算的文章.
</div>
<% @pages.each do |page|%>
  <p class=""><%= link_to page.title,page.url,:target=>"_blank" %> [<%= page.published_at%>]</p>
<%end%>
</fieldset>


<%= will_paginate @pages %> 
</div>
