<%= render "navbar" %>

<% Rails.application.config.assets %>

<div class="panel panel-primary">
<div class="panel-heading">
  <h3 class="panel-title">服务主页</h3>
</div>
<div class="panel-body">
  AWS提供了20几种不同的服务，可能会让看的眼花缭乱。其实整个AWS 的概率就像堆积木一样，用户拿需要的积木块，
  如果这种积木需要的多一点，就多拿一点，叠上去就可以了。如果这块积木不需要了，就拿下来还给AWS.
</div>
</div>




<!-- <select id="startPage">
<option value="/console/home">
Console Home
</option>
<option value="/cloudformation/home">CloudFormation</option>
<option value="/cloudfront/home">CloudFront</option>
<option value="/cloudsearch/home">CloudSearch</option>
<option value="/cloudwatch/home">CloudWatch</option>
<option value="/datapipeline/home">Data Pipeline</option>
<option value="/directconnect/home">Direct Connect</option>
<option value="/dynamodb/home">DynamoDB</option>
<option value="/ec2/v2/home">EC2</option>
<option value="/elasticache/home">ElastiCache</option>
<option value="/elasticbeanstalk/home">Elastic Beanstalk</option>
<option value="/elasticmapreduce/home">Elastic MapReduce</option>
<option value="/elastictranscoder/home">Elastic Transcoder</option>
<option value="/glacier/home">Glacier</option>
<option value="/iam/home">IAM</option>
<option value="/opsworks/home">OpsWorks</option>
<option value="/rds/home">RDS</option>
<option value="/redshift/home">Redshift</option>
<option value="/route53/home">Route 53</option>
<option value="/s3/home">S3</option>
<option value="/ses/home">SES</option>
<option value="/sns/home">SNS</option>
<option value="/sqs/home">SQS</option>
<option value="/storagegateway/home">Storage Gateway</option>
<option value="/swf/home">SWF</option>
<option value="/vpc/home">VPC</option>
</select> -->