<%= render :partial => "navbar"%>
<div class="panel panel-primary">
<div class="panel-heading">
  <h3 class="panel-title">页面列表</h3>
</div>
<div class="panel-body">
<%= render :partial =>"table"%>
</div>
</div>