
hi

<i class="icon-file"></i>

# <ul class="ddfo-ul-divider-above">
#     <li id="ddfo-cat-prodsol-1" class="ddfo-cat-li">计算与联网</li>
#     <li id="ddfo-cat-prodsol-2" class="ddfo-cat-li">存储与 CDN</li>
#     <li id="ddfo-cat-prodsol-3" class="ddfo-cat-li">数据库</li>
#     <li id="ddfo-cat-prodsol-4" class="ddfo-cat-li">应用服务</li>
#     <li id="ddfo-cat-prodsol-5" class="ddfo-cat-li">部署与管理</li>
#     <li id="ddfo-cat-prodsol-6" class="ddfo-cat-li">AWS Marketplace 软件</li>
#   </ul>

# <select>
# <option value="reg-us-east">美国东部（弗吉尼亚北部）</option>
# <option value="reg-us-west-2">美国西部（俄勒冈）</option>
# <option value="reg-us-west">美国西部（加利福尼亚北部）</option>
# <option value="reg-eu-ireland">欧洲（爱尔兰）</option>
# <option value="reg-apac-sin">亚太地区（新加坡）</option>
# <option value="reg-apac-tokyo">亚太地区（东京）</option>
# <option value="reg-apac-syd">亚太地区（悉尼）</option><
# option value="reg-sa-east-1">南美洲（圣保罗）</option>
# </select>