<div id="footer">
  <div class="container">
    <p class="text-center">
        <a href="http://aws.amazon.com/" target="_blank">Amazon Web Services™</a></br>
        Twitter <a href="https://twitter.com/hisuxu" target="_blank">@hisuxu</a>
        Github <a href="https://github.com/suxu/aw7s" target="_blank">Aw7s</a>
        Master <%= link_to "Console", console_home_path %>
    </p>
  </div>
</div>